@model IEnumerable<TE_ManagementSystem.Models.ProductTransaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-black-800">儲物查詢表</h1>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            借用歸還紀錄表
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display nowrap dataTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                部門
                            </th>
                            <th>
                                員工
                            </th>
                            <th>
                                治具編號
                            </th>
                            <th>
                                治具名稱
                            </th>
                            <th>
                                種類
                            </th>
                            <th>
                                治具室
                            </th>
                            <th>
                                儲位
                            </th>
                            <th>
                                料號
                            </th>
                            <th>
                                狀態
                            </th>
                            <th>
                                歸還狀態
                            </th>
                            <th>
                                修護
                            </th>
                            <th>
                                借用天數
                            </th>
                            <th>
                                登記時間
                            </th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
@*@if (TempData["message"] != null)
    {
        <script type="text/javascript">
                var message = @Html.Raw(Json.Encode(TempData["message"]));
                alert(message);
        </script>
    }*@

<script>

    $(document).ready(function () {
        $('#dataTable').DataTable({
            ajax: {
                url: "/PO/GetList",
                type: "POST",
                datatype: "json"
            },
            columns: [
                { data: "DepartmentName", name: "DepartmentName" },
                { data: "EmployeeName", name: "EmployeeName" },
                {
                    data: "ProductID",
                    name: "ProductID",
                    render: function (data, type, row) {
                        return '<a href="/Product/Resume/' + data + '">' + data + '</a>';
                    }
                },
                { data: "ProdName", name: "ProdName" },
                { data: "KindName", name: "KindName" },
                { data: "LocationName", name: "LocationName" },
                { data: "LocationRackPosition", name: "LocationRackPosition" },
                { data: "ComList", name: "ComList" },
                {
                    data: "IsReturn",
                    name: "IsReturn",
                    render: function (data, type, row) {
                        if (data === true) {
                            return '<div>' + '倉庫' + '</div>';
                        } else {
                            return '<div class="onLend">' + '借出' + '</div>';
                        }
                    }
                },
                {
                    data: "IsReturn",
                    name: "IsReturn",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            var checkBoxHtml = '<input type="checkbox" disabled';
                            if (data) {
                                checkBoxHtml += ' checked';
                            }
                            checkBoxHtml += '>';
                            return checkBoxHtml;
                        }
                        return data;
                    }
                },
                {
                    data: "IsToFix",
                    name: "IsToFix",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            var checkBoxHtml = '<input type="checkbox" disabled';
                            if (data) {
                                checkBoxHtml += ' checked';
                            }
                            checkBoxHtml += '>';
                            return checkBoxHtml;
                        }
                        return data;
                    }
                },
                { data: "BorrowDay", name: "BorrowDay" },
                {
                    data: "RegisterDate",
                    name: "RegisterDate",
                    render: function (data, type, row) {
                        if (data !== null) {
                            var timestamp = parseInt(data.substr(6));
                            var date = new Date(timestamp);
                            var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                            var formattedDateTime = date.toLocaleString(undefined, options);
                            return '<div>' + formattedDateTime + '</div>';
                        } else {
                            return '<div></div>';
                        }
                    }
                }
            ],
            pagingType: 'full_numbers',
            order: [12, 'desc'],
            serverSide: true,
            processing: true,
            language: {
                processing: "processing...please wait."
            }
        });
    });

</script>

