@model IEnumerable<TE_ManagementSystem.Models.Kind>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

<p><a href="/Kind/Create">新增</a></p>

<div class="card shadow mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        治具種類查詢表
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display nowrap dataTable" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            種類代號
                        </th>
                        <th>
                            種類名稱
                        </th>
                        <th>
                            更新(創建)人員
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateEmployee)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#dataTable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'asc']],
        });
    });

</script>



