@model IEnumerable<TE_ManagementSystem.Models.MeProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-black-800">儲物查詢表</h1>*@
    <!-- DataTales Example -->
    <p><a href="/MeProduct/Create">新增</a></p>

    <div class="card shadow mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            ME治具查詢表
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display nowrap dataTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                匯入日期
                            </th>
                            <th>
                                治具名稱
                            </th>
                            @*<th>
                                    圖片
                                </th>*@
                            <th>
                                製程種類
                            </th>
                            <th>
                                治具種類
                            </th>
                            <th>
                                客戶
                            </th>
                            <th>
                                供應商
                            </th>
                            <th>
                                數量
                            </th>
                            <th>
                                Shift Time
                            </th>
                            <th>
                                有鉛
                            </th>
                            <th>
                                料號
                            </th>
                            <th>
                                負責人
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spare1)
                            </th>
                            <th>
                                更新日期
                            </th>
                            <th>
                                更新(創建)人員
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<script>

    $(document).ready(function () {
        $('#dataTable').DataTable({
            ajax: {
                url: "/MeProduct/GetList",
                type: "POST",
                datatype: "json"
            },
            columns: [
                {
                    data: "MeStockDate",
                    name: "MeStockDate",
                    render: function (data, type, row) {
                        if (data !== null) {
                            var timestamp = parseInt(data.substr(6));
                            var date = new Date(timestamp);
                            var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                            var formattedDateTime = date.toLocaleString(undefined, options);
                            return '<div>' + formattedDateTime + '</div>';
                        } else {
                            return '<div></div>';
                        }
                    }
                },
                { data: "ProdName", name: "ProdName" },
                { data: "KindProcessName", name: "KindProcessName" },
                { data: "KindName", name: "KindName" },
                { data: "CustomerName", name: "CustomerName" },
                { data: "SupplierName", name: "SupplierName" },
                { data: "Quantity", name: "Quantity" },
                { data: "ShiftTime", name: "ShiftTime" },
                { data: "Pb", name: "Pb" },
                { data: "ComList", name: "ComList" },
                { data: "UpdateEmployee", name: "UpdateEmployee" },
                { data: "Spare1", name: "Spare1" },
                {
                    data: "UpdateDate",
                    name: "UpdateDate",
                    render: function (data, type, row) {
                        if (data !== null) {
                            var timestamp = parseInt(data.substr(6));
                            var date = new Date(timestamp);
                            var options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                            var formattedDateTime = date.toLocaleString(undefined, options);
                            return '<div>' + formattedDateTime + '</div>';
                        } else {
                            return '<div></div>';
                        }
                    }
                },
                { data: "UpdateEmployee", name: "UpdateEmployee" },
                {
                    data: "ID",
                    name: "ID",
                    render: function (data, type, row) {
                        return '<a href="/MeProduct/Edit/' + data + '">Edit</a>';
                    }
                }
            ],
            pagingType: 'full_numbers',
            order: [0, 'desc'],
            serverSide: true,
            processing: true,
            language: {
                processing: "processing...please wait."
            }
        });
    });

</script>

