
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vue</title>
    <script src="~/lib/vue/vue.global.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Add this to <head> -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />-->
    <!-- Load polyfills to support older browsers -->
    <!--<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>-->
    <!-- Load Vue followed by BootstrapVue -->
    <!--<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>-->
    <!-- Load the following for BootstrapVueIcons support -->
    <!--<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>-->
</head>

<body>

    <div class="text-center" id="app">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        {{hello}}
    </div>

</body>

</html>

@section Scripts{
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    hello: "Hello Vue3"
                }
            }
            , created() {
                var self = this;

            }
            , methods: {

            }
        });
        const vm = app.mount('#app');
    </script>
}
