@model IEnumerable<TE_ManagementSystem.Models.KPN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_index.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        料號查詢表
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="display nowrap dataTable" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            料號
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

</script>

